@model IEnumerable<Academia.Models.Recurso>

@{
    ViewBag.Title = "CatalogoRecursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center mx-auto">Catálogo de Recursos</h2>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" name="searchTerm">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nivel)</td>
                    <td>
                        <a href="@Url.Action("DetalleRecurso", "Academia", new { Id = item.Id })" class="btn btn-primary">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



